@media (max-width: 1530px) {
  .header__logo .logo__image {
    width: 150px;
  }

  .about__wrap {
    flex-wrap: wrap;
  }

  .about__left {
    margin-right: 0;
    margin-bottom: 32px;
    width: 100%;
  }

  .about__list {
    width: 100%;
  }

  .work__content {
    width: calc((100% - var(--gap) * 1) / 2);
  }

  .work__image-wrap {
    width: calc((100% - var(--gap) * 1) / 2);
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1280px) {
  .header {
    border-radius: 0 0 32px 32px;
  }

  .header__logo {
    order: 1;
  }

  .header__nav {
    display: none;
  }

  .burger__link {
    display: block;
    order: 0;
  }

  .header__search {
    order: 1;
  }

  .container {
    padding: 0 50px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 0;
  }

  .hero {
    padding-top: 40px;
  }

  .hero__slider {
    padding: 160px 77px;
  }

  .swiper {
    height: 668px;
  }

  .swiper-content {
    top: 160px;
    left: 77px;
  }

  .slider__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .slider__descr {
    max-width: 770px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .about {
    padding-top: 35px;
  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about__left {
    height: 640px;
  }

  .about__item {
    padding: 65px 75px;
  }

  .work {
    padding-top: 80px;
  }

  .work__nav {
    margin-bottom: 50px;
  }

  .work__text {
    margin-bottom: 25px;
  }

  .work__btn {
    margin-right: 29px;
  }

  .work__content {
    margin-right: 50px;
  }

  .faq {
    padding-top: 80px;
  }

  .faq__link {
    font-size: 20px;
  }

  .faq__subtitle {
    max-width: 756px;
  }

  .main {
    margin-bottom: 84px;
  }

  .footer__container {
    align-items: flex-start;
  }

  .footer__left {
    margin-right: 132px;
  }

  .request__form {
    max-width: 540px;
  }

  .form__textarea {
    margin-bottom: 32px;
  }

  .form__submit {
    padding: 19px 38px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 69px;
    border-radius: 0 0 24px 24px;
  }

  .hero__slider {
    padding: 160px 40px;
    border-radius: 24px;
  }

  .swiper {
    height: 662px;
    border-radius: 24px;
  }

  .swiper-content {
    left: 40px;
  }

  .slider__title {
    font-size: 50px;
    line-height: 61px;
  }

  .slider__descr {
    max-width: 588px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__descr {
    margin-bottom: 55px;
  }

  .about__left {
    min-width: 0;
    height: 650px;
    border-radius: 24px;
  }

  .about__wrapper {
    padding: 40px;
    border-radius: 24px;
  }

  .about__list {
    min-width: 0;
    height: max-content;
  }

  .about__item {
    padding: 35px 40px;
    height: fit-content;
    align-items: center;
    border-radius: 24px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 29px;
  }

  .about__text_light {
    max-width: 366px;
  }

  .about__image {
    width: 114px;
    height: 99px;
    margin-right: 16px;
  }

  .about__right {
    max-width: 100%;
  }

  .about__text_dark {
    max-width: 100%;
    min-width: 0;
  }

  .work__nav {
    margin-bottom: 48px;
  }

  .work__nav .nav__list {
    justify-content: space-between;
  }

  .work__wrap {
    flex-direction: column;
    justify-content: flex-start;
  }

  .work__image-wrap {
    order: -1;
    width: 100%;
    margin-bottom: 36px;
  }

  .work__image {
    width: 100%;
    height: 284px;
    border-radius: 24px;
  }

  .work__content {
    width: 100%;
    margin-right: 0;
  }

  .work__text {
    margin-bottom: 22px;
  }

  .faq {
    padding-top: 48px;
  }

  .faq__subtitle {
    max-width: 570px;
  }

  .faq__item {
    padding: 29px 0;
  }

  .main {
    margin-bottom: 117px;
  }

  .footer {
    padding: 48px 0;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__left {
    margin-right: 0;
  }

  .footer__request {
    margin-bottom: 50px;
  }

  .footer__nav {
    display: none;
  }

  .footer__logo {
    margin-bottom: 12px;
  }
}

@media (max-width: 600px) {
  .header {
    border-radius: 0 0 16px 16px;
  }

  .container {
    padding: 0 15px;
  }

  .header__logo .logo__image {
    width: 115px;
    height: 35px;
  }

  .hero {
    padding-top: 30px;
  }

  .hero__slider {
    padding: 60px 22px;
    border-radius: 16px;
  }

  .swiper {
    height: 308px;
    border-radius: 16px;
  }

  .swiper-content {
    left: 0;
    top: 60px;
    text-align: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets 
  .swiper-pagination-bullet, 
  .swiper-pagination-horizontal.swiper-pagination-bullets 
  .swiper-pagination-bullet {
    margin: 0 10px 0px 10px;
  }

  .slider__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .slider__descr {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 32px;
  }

  .slider__btn {
    width: 162px;
    padding: 13px 28px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .about {
    padding-top: 60px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 200%;
  }

  .about__left {
    display: block;
    min-width: 100%;
    height: 100%;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 200px;
    padding: 0;
    padding-top: 200px;
  }

  .about__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
  }

  .about__text_light {
    width: 100%;
    margin: 0;
    padding-top: 7px;
    margin-bottom: 13px;
    color: var(--color-dark);
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
  }

  .about__btn {
    padding: 9px 41px;
    color: var(--color-accent);
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .about__item {
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
    border: none;
  }

  .about__image {
    width: 64px;
    height: 49px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .about__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .about__text_dark {
    font-size: 14px;
  }

  .work {
    padding-top: 62px;
  }

  .work__title {
    margin-bottom: 19px;
  }

  .work__nav {
    margin-bottom: 15px;
  }

  .work__nav .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .work__nav .nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .work__image-wrap {
    margin-bottom: 12px;
  }

  .work__image {
    height: 160px;
    border-radius: 16px;
  }

  .work__subtitle {
    font-weight: 500;
    font-size: 18px;
  }

  .work__text {
    min-width: 100%;
    margin-bottom: 25px;
  }

  .work__p {
    font-size: 14px;
  }

  .work__btn-wrapper {
    justify-content: space-between;
  }

  .work__btn {
    padding: 10px 44px;
    margin-right: 0;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .work__btn_light {
    padding: 10px 32px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .faq {
    padding-top: 62px;
  }

  :root {
    --gap: 16px;
  }

  .faq__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__subtitle {
    max-width: 245px;
  }

  .faq__item {
    padding: 29.5px 0;
  }

  .faq__item svg {
    width: 30px;
    height: 30px;
  }

  .main {
    margin-bottom: 61px;
  }

  .footer {
    padding: 33px 0 27px 0;
  }

  .footer__request {
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-dark-gray);
  }

  .request__title {
    margin-bottom: 20px;
  }

  .request__form {
    max-width: 100%;
  }

  .form__bottom {
    flex-direction: column;
  }

  .form__input {
    padding: 14px 20px;
    font-size: 14px;
  }

  .form__textarea {
    padding: 14px 20px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .form__submit {
    margin-right: 0;
    margin-bottom: 12px;
    padding: 12px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .footer__left {
    align-self: center;
    align-items: center;
  }

  .footer__logo .logo__image {
    width: 131px;
    height: 42px;
  }

  .footer__social {
    width: fit-content;
  }

  .social__list {
    width: fit-content;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }

  .social__link svg {
    width: 40px;
    height: 40px;
  }

}
