html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg: #e5e5e5;
  --color-light: #fff;
  --color-lighter-gray: #cacaca;
  --color-light-gray: rgba(0, 0, 0, 0.5);
  --color-gray: #666;
  --color-dark-gray: #414141;
  --color-dark: #000;
  --color-light-accent: #ffb84d;
  --color-accent: #ff9900;
  --color-dark-accent: #e1670e;
  --color-green-accent: #97ee3f;
  --gap: 32px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--color-light);
}

.container {
  min-width: 320px;
  max-width: 1800px;
  min-height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 16px;
}

.section-title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: var(--color-dark);
}

/* header */
.header {
  width: 100%;
  height: 100px;
  background-color: var(--color-light);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 260px;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  transition: outline-offset .1s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 5px;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-dark-accent);
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
  background-color: var(--color-dark-accent);
}

.burger__link {
  display: none;
}

.search__link {
  width: 24px;
  height: 24px;
  transition: outline-offset .1s ease-in-out;
}

.search__link:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 4px;
}

.search__link:active {
  outline: none;
}

.search__link svg {
  stroke: var(--color-dark);
  transition: stroke .3s ease-in-out;
}

.search__link svg rect {
  fill: var(--color-dark);
  transition: fill .3s ease-in-out;
}

.search__link:hover svg, search__link:active svg {
  stroke: var(--color-accent);
}

.search__link:hover svg rect, .search__link:active svg rect {
  fill: var(--color-accent);
}

/* hero */
.hero {
  padding-top: 50px;
}

.swiper {
  position: relative;
  width: 100%;
  height: 620px;
  border-radius: 32px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-lighter-gray);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-light);
}

.swiper-horizontal>.swiper-pagination-bullets 
.swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets 
.swiper-pagination-bullet {
  margin: 0 10px 16px 10px;
}

.swiper-slide {
  flex-direction: column;
  border-radius: 32px;
}

.slider__image {
  height: 100%;
  object-fit: cover;
}

.swiper-content {
  position: absolute;
  top: 100px;
  left: 80px;
  max-height: 520px;
  z-index: 10;
}

.slider__title {
  max-width: 837px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
  color: var(--color-light);
}

.slider__descr {
  max-width: 790px;
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--color-light);
}

.slider__btn {
  width: 280px;
  padding: 25px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.slider__btn:focus, .slider__btn:hover {
  background-color: var(--color-light-accent);
  outline: none;
}

.slider__btn:active {
  background-color: var(--color-dark-accent);
}

.slider__switch {
  position: absolute;
  left: calc(50% - (20px * 2));
  bottom: 25px;
}

.slider__switch-link:not(:last-child) {
  margin-right: 15px;
}

.slider__switch-link svg {
  fill: var(--color-lighter-gray);
}

.slider__switch-link_active svg {
  fill: var(--color-light);
}

/* about */
.about {
  padding-top: 50px;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  max-width: 1235px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.about__wrap {
  justify-content: center;
  width: 100%;
}

.about__left {
  flex-direction: column;
  justify-content: flex-end;
  width: 868px;
  min-width: 735px;
  height: 622px;
  margin-right: 32px;
  background-image: url('../img/about__item_big-bg.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
  border-radius: 32px;
}

.about__list {
  flex-direction: column;
  flex-wrap: wrap;
  width: 870px;
  min-width: 730px;
  height: 622px;
  margin: 0;
  padding: 0;
}

.about__item {
  width: 100%;
  height: 295px;
  padding: 65px 60px;
  border: 1px solid var(--color-lighter-gray);
  border-radius: 32px;
}

.about__item:not(:last-child) {
  margin-bottom: 32px;
}

.about__wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 196px;
  padding: 50px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 32px;
}

.about__text_light {
  width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light);
}

.about__btn {
  padding: 17px 35px;
  border: 3px solid var(--color-accent);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.about__btn:focus,
.about__btn:hover {
  background-color: var(--color-accent);
}

.about__btn:active {
  background-color: var(--color-dark-accent);
  border-color: var(--color-dark-accent);
}

.about__right {
  max-width: 452px;
}

.about__subtitle {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark);
}

.about__text_dark {
  min-width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-dark);
}

.about__image {
  width: 190px;
  height: 165px;
  margin-right: 50px;
}

.work {
  padding-top: 100px;
}

.work__wrap {
  justify-content: space-between;
  align-items: stretch;
}

.work__title {
  margin-bottom: 50px;
}

.work__nav {
  margin-bottom: 45px;
}

.work__nav .nav__link {
  transition: color .3s ease-in-out, outline-offset .1s ease-in-out;
}

.work__nav .nav__link:hover {
  color: var(--color-accent);
}

.work__nav .nav__link:hover::after {
  opacity: 0;
}

.work__nav .nav__link:active {
  color: var(--color-dark-accent);
}

.work__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.work__text {
  max-width: 758px;
  min-width: 437px;
  margin-bottom: 18px;
}

.work__p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-dark);
}

.work__btn {
  padding: 20px 38px;
  background-color: var(--color-accent);
  color: var(--color-light);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
  transition: background-color .3s ease-in-out;
}

.work__btn:focus, .work__btn:hover {
  background-color: var(--color-light-accent);
  outline: none;
}

.work__btn:active {
  background-color: var(--color-dark-accent);
}

.work__btn_light {
  padding: 20px 38px;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: background-color .3s ease-in-out,
    border-color .3s ease-in-out,
    color .3s ease-in-out;
}

.work__btn_light:focus,
.work__btn_light:hover {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  color: var(--color-light);
}

.work__btn_light:active {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  color: var(--color-light);
}

.work__image {
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.faq {
  padding-top: 111px;
}

.faq__title {
  margin-bottom: var(--gap);
}

.faq__item {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0;
  border-top: 1px solid var(--color-lighter-gray);
  border-bottom: 1px solid var(--color-lighter-gray);
  transition: border-color .3s ease-in-out;
}

.faq__item:focus {
  border-color: var(--color-accent);
}

.faq__item:hover {
  border-color: var(--color-accent);
}

.faq__item:active {
  border-color: var(--color-lighter-gray);
}

.faq__subtitle {
  margin: 0;
}

.faq__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
  transition: color .3s ease-in-out;
}

.faq__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.faq__link:focus,
.faq__link:hover {
  color: var(--color-accent);
  outline: none;
}

.faq__link:active {
  color: var(--color-dark);
}

.faq__item ellipse {
  fill: var(--color-lighter-gray);
  transition: fill .3s ease-in-out;
}

.faq__item path {
  fill: var(--color-dark);
  transition: fill .3s ease-in-out;
}

.faq__item svg {
  transition: transform .3s ease-in-out;
}

.faq__item:focus ellipse,
.faq__item:hover ellipse {
  fill: var(--color-accent);
}

.faq__item:focus path,
.faq__item:hover path {
  fill: var(--color-light);
}

.faq__item:active ellipse {
  fill: var(--color-lighter-gray);
}

.faq__item:hover path {
  fill: var(--color-dark);;
}

.faq__item:active svg {
  transform: rotate(45deg);
}

/* footer */
.main {
  margin-bottom: 103px;
}

.footer {
  width: 100%;
  padding: 50px 0;
  background-color: var(--color-dark);
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  flex-direction: column;
  max-width: 252px;
  margin-right: 117px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__nav {
  max-width: 100%;
  margin-bottom: 90px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 0;
}

.footer__nav .nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-lighter-gray);
  transition: color .3s ease-in-out, outline-offset .1s ease-in-out;
}

.footer__nav .nav__link:hover {
  color: var(--color-accent);
}

.footer__nav .nav__link:hover::after {
  opacity: 0;
}

.footer__nav .nav__link:active {
  color: var(--color-dark-accent);
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  transition: outline-offset .1s ease-in-out;
}

.social__link:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 5px;
}

.social__link:active {
  outline: none;
}

.social__link svg {
  fill: var(--color-gray);
  transition: fill .3s ease-in-out;
}

.social__link:hover svg {
  fill: var(--color-accent);
}

.social__item:active svg {
  fill: var(--color-dark-accent);
}

.request__title {
  color: var(--color-lighter-gray);
  margin-bottom: 25px;
}

.request__form {
  flex-direction: column;
  max-width: 570px;
}

.form__input {
  width: 100%;
  margin-bottom: 25px;
  padding: 14px 24px;
  border-radius: 16px;
  background-color: var(--color-dark-gray);
  color: var(--color-light);
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: background-color .3s ease-in-out;
}

.form__input::placeholder {
  color: var(--color-lighter-gray);
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  background-color: var(--color-gray);
  outline: none;
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 25px;
  padding: 14px 24px;
  border-radius: 16px;
  background-color: var(--color-dark-gray);
  color: var(--color-light);
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: background-color .3s ease-in-out;
}

.form__textarea::placeholder {
  color: var(--color-lighter-gray);
}

.form__textarea:focus,
.form__textarea:hover,
.form__textarea:active {
  background-color: var(--color-gray);
  outline: none;
}

.form__bottom {
  align-items: center;
}

.form__check input {
  margin-right: 4px;
}

.form__submit {
  padding: 19px 52px;
  margin-right: 22px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: background-color .3s ease-in-out;
}

.form__submit:focus, .form__submit:hover {
  background-color: var(--color-light-accent);
  outline: none;
}

.form__submit:active {
  background-color: var(--color-dark-accent);
}

.form__check {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-lighter-gray);
}

.footer_descr {
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-lighter-gray);
}
